{% extends 'base.html.twig' %}

{% block title %}{{ site_name_full }} : pages{% endblock %}

{% block body %}
<main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section class="breadcrumbs">
        <div class="container">
            <h2>Liste des pages</h2>
        </div>
    </section>
    <!-- End Breadcrumbs -->

    <!-- ======= Blog Section ======= -->
    <section id="blog" class="blog">
        <div class="container" data-aos="fade-up">

            <div class="row">

                <div class="col-lg-8 entries">

                    {% for page in pages %}
                        {% if page.isActive %}
                            <article class="entry">
                                <h2 class="entry-title">
                                    <a href="{{ path('page_show', {'slug': page.slug}) }}">{{ page.titre }}</a>
                                </h2>

                                <div class="entry-meta">
                                    <ul>
                                        <li class="d-flex align-items-center">
                                            <i class="bi bi-person"></i> {{ page.auteur.prenom }} {{ page.auteur.nom }}
                                        </li>
                                        <li class="d-flex align-items-center">
                                            <i class="bi bi-clock"></i> {{ page.createdAt ? page.createdAt|date('d-m-Y') : '' }}
                                        </li>
                                        {% if page.updatedAt %}
                                            <li class="d-flex align-items-center">
                                                <i class="bi bi-clock-fill"></i> {{ page.updatedAt ? page.updatedAt|date('d-m-Y') : '' }}
                                            </li>
                                        {% endif %}
                                    </ul>
                                </div>

                                <div class="entry-content">
                                    <p>
                                        {{ page.contenu|raw }}
                                    </p>
                                    <div class="read-more">
                                        <a href="{{ path('page_show', {'slug': page.slug}) }}">Lire la page</a>
                                    </div>
                                </div>

                            </article><!-- End blog entry -->
                        {% endif %}
                    {% endfor %}

                    <div class="pagination justify-content-center px-2 mt-4">
                        {{ knp_pagination_render(pages) }}
                    </div>

                </div>
                <!-- End blog entries list -->

                {% block sidebar %}
                    {{ sidebar() }}
                {% endblock %}
                
                </div><!-- End blog sidebar -->
            </div>
        </div>
    </section><!-- End Blog Section -->

</main><!-- End #main -->
{% endblock %}