{% extends 'base.html.twig' %}

{% block title %}{{ site_name_full }} : liste des pages{% endblock %}

{% block body %}
<main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section class="breadcrumbs">
        <div class="container">
            <h2>Administration du site</h2>
        </div>
    </section>
    <!-- End Breadcrumbs -->

    <section class="inner-page">
        <div class="container">
            <div class="row d-flex justify-content-center">
                <div class="col">
                    <div class="row mb-3">
                        <div class="col">
                            <h2>Liste des pages</h2>
                        </div>
                        <div class="col d-flex justify-content-end">
                            <a class="btn btn-success fw-bold pt-2" href="{{ path('page_new') }}">Créer une page</a>
                        </div>
                    </div>

                    <table class="table">
                        <thead>
                            <tr>
                                <th width="5%">{{ knp_pagination_sortable(pages, 'Id', 'p.id') }}</th>
                                <th>{{ knp_pagination_sortable(pages, 'Titre', 'p.titre') }}</th>
                                <th>Attr.</th>
                                <th width="15%">{{ knp_pagination_sortable(pages, 'Posté le', 'p.createdAt') }}</th>
                                <th width="15%">{{ knp_pagination_sortable(pages, 'Maj', 'p.updatedAt') }}</th>
                                <th width="7%">{{ knp_pagination_sortable(pages, 'Actif', 'p.isActive') }}</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for page in pages %}
                            <tr>
                                <td>{{ page.id }}</td>
                                <td>{{ page.titre }}</td>
                                <td>
                                    {{ page.isFeatured ? 'Hero' : '' }}
                                    {{ page.isAbout ? 'A Propos' : '' }}
                                    {{ page.isInscription ? 'Inscription' : '' }}
                                    {{ page.isTeam ? 'Equipe' : '' }}
                                    {{ page.ispartenaire ? 'Partenaires' : '' }}
                                    {{ page.isConseiladmin ? 'Conseil d\'Administration' : '' }}
                                    {{ page.isProjetsocial ? 'Projet social' : '' }}
                                    {{ page.isBenevole ? 'Bénévole' : '' }}
                                    {{ page.isHistorique ? 'Historique' : '' }}
                                    {{ page.isOrganigramme ? 'Organigramme' : '' }}
                                    {{ page.isVenir ? 'Venir' : '' }}
                                    {{ page.isMentionslegales ? 'Mentions légales' : '' }}
                                </td>
                                <td>{{ page.createdAt ? page.createdAt|date('d-m-Y H:i:s') : '' }}</td>
                                <td>{{ page.updatedAt ? page.updatedAt|date('d-m-Y H:i:s') : '' }}</td>
                                <td>{{ page.isActive ? 'Oui' : 'Non' }}</td>
                                <td>
                                    <table>
                                        <tr>
                                            <td>
                                                <a class="btn btn-sm btn-info" href="{{ path('page_show', {'slug': page.slug}) }}">Voir</a>
                                            </td>
                                            <td>

                                                <a class="btn btn-sm btn-warning" href="{{ path('page_edit', {'id': page.id}) }}">Modifier</a>
                                            </td>
                                            <td>
                                                {{ include('page/_delete_form.html.twig') }}
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                            {% else %}
                            <tr>
                                <td colspan="7">Il n'y a aucun enregistrement.</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="pagination justify-content-center px-2 mt-4">
                    {{ knp_pagination_render(pages) }}
                </div>
            </div>
        </div>
    </section>
</main>
{% endblock %}