{% extends 'base.html.twig' %}

{% block title %}{{ site_name_full }} : {{ page.titre }}{% endblock %}

{% block body %}

<main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section class="breadcrumbs">
        <div class="container">
            <h2>Les pages</h2>
        </div>
    </section>
    <!-- End Breadcrumbs -->

    <!-- ======= Blog Single Section ======= -->
    <section id="blog" class="blog">
        <div class="container" data-aos="fade-up">

            <div class="row">

                <div class="col-lg-8 entries">

                    <article class="entry entry-single">

                        {% if page.isActive %}

                            <h2 class="entry-title">{{ page.titre }}</h2>

                            <div class="entry-meta">
                                <ul>
                                    <li class="d-flex align-items-center">
                                        <i class="bi bi-clock"></i> {{ page.createdAt ? page.createdAt|date('d-m-Y') : '' }}
                                    </li>
                                    {% if page.updatedAt != null %}
                                        <li class="d-flex align-items-center">
                                            <i class="bi bi-clock-fill"></i> {{ page.updatedAt ? page.updatedAt|date('Y-m-d H:i:s') : '' }}
                                        </li>
                                    {% endif %}
                                </ul>
                            </div>

                            <div class="entry-content">
                                {{ page.contenu|raw }}
                            </div>

                        {% else %}
                            <h2>Cette page est désactivée.</h2>
                        {% endif %}

                    </article>
                    <!-- End blog entry -->

                    {% if page.file1 or page.file2 or page.file3 or page.file4 or page.file5 %}
                        <div class="blog-author d-flex align-items-center">
                            <div class="row">
                                <div class="col-3 d-flex align-items-center">
                                    <h4>Fichiers à télécharger</h4>
                                </div>
                                <div class="col">
                                    {% if page.file1 %}
                                        <a class="btn btn-primary text-white m-1" href="../uploads/fichiers/pages/{{ page.file1 }}">{{ page.file1 }}</a>
                                    {% endif %}
                                    {% if page.file2 %}
                                        <a class="btn btn-primary text-white m-1" href="../uploads/fichiers/pages/{{ page.file2 }}">{{ page.file2 }}</a>
                                    {% endif %}
                                    {% if page.file3 %}
                                        <a class="btn btn-primary text-white m-1" href="../uploads/fichiers/pages/{{ page.file3 }}">{{ page.file3 }}</a>
                                    {% endif %}
                                    {% if page.file4 %}
                                        <a class="btn btn-primary text-white m-1" href="../uploads/fichiers/pages/{{ page.file4 }}">{{ page.file4 }}</a>
                                    {% endif %}
                                    {% if page.file5 %}
                                        <a class="btn btn-primary text-white m-1" href="../uploads/fichiers/pages/{{ page.file5 }}">{{ page.file5 }}</a>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    {% endif %}

                </div><!-- End blog entries list -->

                {% block sidebar %}
                    {{ sidebar() }}
                {% endblock %}

            </div>

        </div>
    </section><!-- End Blog Single Section -->

</main>

{% endblock %}
