{{ form_start(form) }}
    {{ form_widget(form) }}
    <div class="mt-4">
        <button class="btn btn-sm btn-success">{{ button_label|default('Créer la lettre d\'infos') }}</button> 
        <button class="btn btn-sm btn-secondary" type="reset">Annuler</button>
        <a class="btn btn-sm btn-primary" href="{{ path('newsletter_index') }}">Liste des lettres d'info</a>
    </div>
{{ form_end(form) }}
