{% extends 'base.html.twig' %}

{% block title %}{{ site_name_full }} : Administration{% endblock %}

{% block body %}

<main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section class="breadcrumbs">
        <div class="container">
            <h2>Administration du site</h2>
        </div>
    </section>
    <!-- End Breadcrumbs -->

    <section class="inner-page">
        <div class="container">
            <h2 class="text-center fw-bold card py-2 mb-4">Gestion du site</h2>
            <div class="row d-flex justify-content-center">
                <div class="col">
                    <div class="card">
                        <div class="d-grid gap-2 card-body">
                            <h5 class="card-title fw-bold">ARTICLES</h5>
                            <a href="{{ path('article_admin_index') }}" class="btn btn-primary fw-bold p-3 fs-6">Liste des articles</a>
                            <br>
                            <a href="{{ path('article_new') }}" class="btn btn-success fw-bold p-3 fs-6">Créer un article</a>
                        </div>
                    </div>
                </div>

                <div class="col">
                    <div class="card">
                        <div class="d-grid gap-2 card-body">
                            <h5 class="card-title fw-bold">ACTIVITES</h5>
                            <a href="{{ path('activite_admin_index') }}" class="btn btn-dark fw-bold p-3 fs-6">Liste des activités</a>
                            <br>
                            <a href="{{ path('activite_new') }}" class="btn btn-success fw-bold p-3 fs-6">Créer une activité</a>
                        </div>
                    </div>
                </div>

                <div class="col">
                    <div class="card">
                        <div class="d-grid gap-2 card-body">
                            <h5 class="card-title fw-bold">PAGES</h5>
                            <a href="{{ path('page_admin_index') }}" class="btn btn-warning fw-bold p-3 fs-6">Liste des pages</a>
                            <br>
                            <a href="{{ path('page_new') }}" class="btn btn-success fw-bold p-3 fs-6">Créer une page</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row d-flex justify-content-center pt-4">

                <div class="col">
                    <div class="card">
                        <div class="d-grid gap-2 card-body">
                            <h5 class="card-title fw-bold">CATEGORIES</h5>
                            <a href="{{ path('categorie_admin_index') }}" class="btn btn-info fw-bold p-3 fs-6">Liste des catégories</a>
                            <br>
                            <a href="{{ path('categorie_new') }}" class="btn btn-success fw-bold p-3 fs-6">Créer une catégorie</a>
                        </div>
                    </div>
                </div>

                <div class="col">
                    <div class="card">
                        <div class="d-grid gap-2 card-body">
                            <h5 class="card-title fw-bold">UTILISATEURS</h5>
                            <a href="{{ path('user_index') }}" class="btn btn-secondary fw-bold p-3 fs-6">Liste des utilisateurs</a>
                            <br>
                            <a href="{{ path('app_register') }}" class="btn btn-success fw-bold p-3 fs-6">Enregistrement d'un utilisateur</a>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card">
                        <div class="d-grid gap-2 card-body">
                            <h5 class="card-title">LETTRES D'INFOS [Désactivé]</h5>
                            <button class="btn btn-outline-danger fw-bold p-3 fs-6">Liste des lettres d'info</button>
                            <br>
                            <button class="btn btn-outline-success fw-bold p-3 fs-6">Créer une lettre d'info</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
                

{% endblock %}
