{% extends 'base.html.twig' %}

{% block title %}{{ site_name_full }} : Administration{% endblock %}

{% block body %}

<main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section class="breadcrumbs">
        <div class="container">
            <h2>Administration du site</h2>
        </div>
    </section>
    <!-- End Breadcrumbs -->

    <section class="inner-page">
        <div class="container">
            <div class="row d-flex justify-content-center">
                <h2>Gestion du site</h2>
                <div class="col">
                    <div class="d-grid gap-2">
                        <a href="{{ path('article_index') }}" class="btn btn-primary fw-bold p-3 fs-4">Articles</a>
                    </div>
                </div>
                <div class="col">
                    <div class="d-grid gap-2">
                        <a href="{{ path('categorie_index') }}" class="btn btn-info fw-bold p-3 fs-4">Catégories</a>
                    </div>
                </div>
                <div class="col">
                    <div class="d-grid gap-2">
                        <a href="{{ path('page_index') }}" class="btn btn-warning fw-bold p-3 fs-4">Pages</a>
                    </div>
                </div>
            </div>

            <div class="row d-flex justify-content-center pt-4">
                <div class="col">
                    <div class="d-grid gap-2">
                        <a href="{{ path('activite_index') }}" class="btn btn-dark fw-bold p-3 fs-4">Activités</a>
                    </div>
                </div>
                <div class="col">
                    <div class="d-grid gap-2">
                        <a href="{{ path('user_index') }}" class="btn btn-success fw-bold p-3 fs-4">Utilisateurs</a>
                    </div>
                </div>
                <div class="col">
                    <div class="d-grid gap-2">
                        <a href="#" class="btn btn-danger fw-bold p-3 fs-4">Lettres d'info</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
                

{% endblock %}
