{% extends 'base.html.twig' %}

{% block title %}{{ site_name_full }} : abonné à la lettre d'infos{% endblock %}

{% block body %}
<main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section class="breadcrumbs">
        <div class="container">
            <h2>Administration du site</h2>
        </div>
    </section>
    <!-- End Breadcrumbs -->

    <section class="inner-page">
        <div class="container">
            <h2 class="text-center fw-bold card py-2 mb-4">Abonné à la Lettre d'info</h2>
            <div class="row d-flex justify-content-center">
                <div class="col">

                    <table class="table">
                        <tbody>
                            <tr>
                                <th>Id</th>
                                <td>{{ abonne.id }}</td>
                            </tr>
                            <tr>
                                <th>E-mail</th>
                                <td>{{ abonne.email }}</td>
                            </tr>
                            <tr>
                                <th>Abonné le</th>
                                <td>{{ abonne.createdAt ? abonne.createdAt|date('d-m-Y H:i:s') : '' }}</td>
                            </tr>
                        </tbody>
                    </table>

                    <a class="btn btn-sm btn-success" href="{{ path('abonne_edit', {'id': abonne.id}) }}">Modifier</a> 
                    <button class="btn btn-sm btn-secondary" type="reset">Annuler</button> 
                    <a class="btn btn-sm btn-primary" href="{{ path('abonne_index') }}">Liste des abonnés</a>

                    <div class="mt-3">
                        {{ include('abonne/_delete_form.html.twig') }}
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
{% endblock %}