{{ form_start(form) }}
    {#{ form_widget(form) }#}

    {{ form_row(form.titre) }}
    <div class="mb-3">
        {{ form_row(form.description) }}
    </div>

    {% if app.request.get('_route') == 'activite_edit' %}
        {% if activite.image is not empty %}
            Image actuelle :<br>
            <img src="{{ asset('uploads/images/activites/' ~ activite.image) }}" alt="{{ activite.titre }}" class="img-fluid mb-3" 
            style="max-width: 350px; width: 100%;">
            <p>
                <a href="{{ path('activite_delete_image', {'id': activite.id}) }}" class="btn btn-sm btn-danger">Supprimer l'image</a>
            </p>
        {% else %}
            <div class="text-white bg-danger p-2 mb-2 text-center">
                <i class="bi bi-exclamation-lg"></i> Il n'y a aucune image active pour cet article. Veuillez en sélectionner une.
            </div>
        {% endif %}
    {% endif %}

    <div class="border border-success rounded p-2 mb-3">
        {{ form_row(form.image) }}
    </div>

    <div class="border border-primary rounded p-2 mb-3">
        {{ form_row(form.file1) }}
        {{ form_row(form.file2) }}
        {{ form_row(form.file3) }}
    </div>

    {{ form_row(form.categorie) }}
    {{ form_row(form.is_active) }}

    <button class="btn btn-sm btn-success">{{ button_label|default('Créer une activité') }}</button>
    <button class="btn btn-sm btn-secondary" type="reset">Annuler</button>
    <a class="btn btn-sm btn-primary" href="{{ path('activite_index') }}">Liste des activités</a>
{{ form_end(form) }}
