{{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn btn-sm btn-success">{{ button_label|default('Créer une activité') }}</button>
    <button class="btn btn-sm btn-secondary" type="reset">Annuler</button>
    <a class="btn btn-sm btn-primary" href="{{ path('activite_index') }}">Liste des activités</a>
{{ form_end(form) }}
