{% extends 'base.html.twig' %}

{% block title %}{{ site_name_full }} : liste des activités{% endblock %}

{% block body %}
<main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section class="breadcrumbs">
        <div class="container">
            <h2>Liste de toutes les activités et services</h2>
        </div>
    </section>
    <!-- End Breadcrumbs -->

    <section class="inner-page">
        <div class="container">
            <div class="row d-flex justify-content-center">
                <div class="col">
                    <div class="row mb-3">
                        <div class="col">
                            <h2>Liste des activités</h2>                            
                        </div>
                        <div class="col d-flex justify-content-end">
                            <a class="btn btn-success fw-bold pt-2" href="{{ path('activite_new') }}">Créer une activité</a>
                        </div>
                    </div>

                    <table class="table">
                        <thead>
                            <tr>
                                <th>{{ knp_pagination_sortable(activites, 'Id', 'p.id') }}</th>
                                <th>{{ knp_pagination_sortable(activites, 'Titre', 'p.titre') }}</th>
                                <th>Catégorie</th>
                                <th>{{ knp_pagination_sortable(activites, 'Posté le', 'p.createdAt') }}</th>
                                <th>{{ knp_pagination_sortable(activites, 'Mise à jour', 'p.updatedAt') }}</th>
                                <th>Auteur</th>
                                <th>{{ knp_pagination_sortable(activites, 'Activé', 'p.isActive') }}</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for activite in activites %}
                            <tr>
                                <td>{{ activite.id }}</td>
                                <td>{{ activite.titre }}</td>
                                <td>
                                    {% for cat in activite.categorie %}
                                        <span class="badge bg-secondary">{{ cat.titre }}</span>
                                    {% endfor %}
                                </td>
                                <td>{{ activite.createdAt ? activite.createdAt|date('d-m-Y') : '' }}</td>
                                <td>{{ activite.updatedAt ? activite.updatedAt|date('d-m-Y') : '' }}</td>
                                <td>{{ activite.auteur }}</td>
                                <td>{{ activite.isActive ? 'Oui' : 'Non' }}</td>
                                <td>
                                    <table>
                                        <tr>
                                            <td>
                                                <a class="btn btn-sm btn-info" href="{{ path('activite_show', {'slug': activite.slug}) }}">Voir</a>
                                            </td>
                                            <td>
                                                <a class="btn btn-sm btn-warning" href="{{ path('activite_edit', {'id': activite.id}) }}">Modifier</a>
                                            </td>
                                            <td>
                                                {{ include('activite/_delete_form.html.twig') }}
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                            {% else %}
                            <tr>
                                <td colspan="9">Il n'y a aucun enregistrement.</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="pagination justify-content-center px-2 mt-4">
                    {{ knp_pagination_render(activites) }}
                </div>
            </div>
        </div>
    </section>
</main>
{% endblock %}