{% extends 'base.html.twig' %}

{% block title %}{{ site_name_full }} : liste des services et activités{% endblock %}

{% block body %}
<main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section class="breadcrumbs">
        <div class="container">
            <h2>Liste des services et activités</h2>
        </div>
    </section>
    <!-- End Breadcrumbs -->

    <!-- ======= Blog Section ======= -->
    <section id="blog" class="blog">
        <div class="container" data-aos="fade-up">

            <div class="row">

                <div class="col-lg-8 entries">

                    {% for activite in activites %}
                        {% if activite.isActive %}
                            <article class="entry">

                                <div class="entry-img">
                                    <img src="../uploads/images/activites/{{ activite.image }}" alt="{{ activite.titre }}" class="img-fluid">
                                </div>

                                <div class="mb-3">
                                    {% for cat in activite.categorie %}
                                    <a class="h4" href="{{ path('categorie_show', {'slug': cat.slug}) }}">
                                        <span class="badge bg-primary">{{ cat.titre }}</span>
                                    </a>
                                    {% endfor %}
                                </div>
                                
                                <h2 class="entry-title">
                                    <a href="{{ path('activite_show', {'slug': activite.slug}) }}">{{ activite.titre }}</a>
                                </h2>

                                <div class="entry-meta">
                                    <ul>
                                        <li class="d-flex align-items-center">
                                            <i class="bi bi-person"></i> {{ activite.auteur.prenom }} {{ activite.auteur.nom }}
                                        </li>
                                        <li class="d-flex align-items-center">
                                            <i class="bi bi-clock"></i> {{ activite.createdAt ? activite.createdAt|date('d-m-Y') : '' }}
                                        </li>
                                        {% if activite.updatedAt %}
                                            <li class="d-flex align-items-center">
                                                <i class="bi bi-clock-fill"></i> {{ activite.updatedAt ? activite.updatedAt|date('d-m-Y') : '' }}
                                            </li>
                                        {% endif %}
                                    </ul>
                                </div>

                                <div class="entry-content">
                                    <p>
                                        {{ activite.description|raw }}
                                    </p>
                                    <div class="read-more">
                                        <a href="{{ path('activite_show', {'slug': activite.slug}) }}">Lire l'activite</a>
                                    </div>
                                </div>

                            </article><!-- End blog entry -->
                        {% endif %}
                    {% endfor %}

                    <div class="pagination justify-content-center px-2 mt-4">
                        {{ knp_pagination_render(activites) }}
                    </div>

                </div>
                <!-- End blog entries list -->

                {% block sidebar %}
                    {{ sidebar() }}
                {% endblock %}
                
                </div><!-- End blog sidebar -->
            </div>
        </div>
    </section><!-- End Blog Section -->

</main><!-- End #main -->
{% endblock %}









{#
{% extends 'base.html.twig' %}

{% block title %}{{ site_name_full }} : liste des activités{% endblock %}

{% block body %}
<main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section class="breadcrumbs">
        <div class="container">
            <h2>Liste de toutes les activités et services</h2>
        </div>
    </section>
    <!-- End Breadcrumbs -->

    <section class="inner-page">
        <div class="container">
            <div class="row d-flex justify-content-center">
                <div class="col">
                    <div class="row mb-3">
                        <div class="col">
                            <h2>Liste des activités</h2>                            
                        </div>
                        <div class="col d-flex justify-content-end">
                            <a class="btn btn-success fw-bold pt-2" href="{{ path('activite_new') }}">Créer une activité</a>
                        </div>
                    </div>
                    <h4 class="bg-dark text-white rounded p-2 my-4 text-center">
                        On présentera toutes les activités <b>ICI</b> sur Activité index, par catégorie, avec des cards, visible par tous les publics.<br> 
                        On désactivera la possibilité de créer ou de modifier une activité pour le public, ceci étant réserver à <b>ADMIN</b>.<br>
                        Tri par colonne (avec knp_paginator...)
                    </h4>
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Titre</th>
                                <th>Catégorie</th>
                                <th>Posté le</th>
                                <th>Maj</th>
                                <th>Auteur</th>
                                <th>Activé</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for activite in activites %}
                            <tr>
                                <td>{{ activite.titre }}</td>
                                <td>
                                    {% for cat in activite.categorie %}
                                        {{ cat.titre }}
                                    {% endfor %}
                                </td>
                                <td>{{ activite.createdAt ? activite.createdAt|date('d-m-Y') : '' }}</td>
                                <td>{{ activite.updatedAt ? activite.updatedAt|date('d-m-Y') : '' }}</td>
                                <td>{{ activite.auteur }}</td>
                                <td>{{ activite.isActive ? 'Oui' : 'Non' }}</td>
                                <td>
                                    <a class="btn btn-sm btn-info" href="{{ path('activite_show', {'slug': activite.slug}) }}">Voir</a>
                                    <a class="btn btn-sm btn-warning" href="{{ path('activite_edit', {'id': activite.id}) }}">Modifier</a>
                                </td>
                            </tr>
                            {% else %}
                            <tr>
                                <td colspan="9">Il n'y a aucun enregistrement.</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </section>
</main>
{% endblock %}
#}