{% extends 'base.html.twig' %}

{% block title %}{{ site_name_full }} : {{ activite.titre }}{% endblock %}

{% block body %}

<main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section class="breadcrumbs">
        <div class="container">
            <h2>Administration du site</h2>
        </div>
    </section>
    <!-- End Breadcrumbs -->

    <!-- ======= Blog Single Section ======= -->
    <section id="blog" class="blog">
        <div class="container" data-aos="fade-up">

            <div class="row">

                <div class="col-lg-8 entries">

                    <article class="entry entry-single">

                        {% if activite.isActive %}
                            {% if activite.image %}
                                <div class="entry-img text-center">
                                    <img src="../uploads/images/activites/{{ activite.image }}" alt="{{ activite.titre }}" class="img-fluid">
                                </div>
                            {% endif %}

                            <h3 class="mb-3"> 
                                {% for cat in activite.categorie %}
                                <a href="{{ path('categorie_show', {'slug': cat.slug}) }}">
                                    <span class="badge bg-primary">{{ cat.titre }}</span>
                                </a>
                                {% endfor %}
                            </h3>
                            <h2 class="entry-title">{{ activite.titre }}</h2>

                            <div class="entry-meta">
                                <ul>
                                    <li class="d-flex align-items-center">
                                        <i class="bi bi-clock"></i> Posté le {{ activite.createdAt ? activite.createdAt|date('d-m-Y') : '' }}
                                    </li>
                                    {% if activite.updatedAt != null %}
                                        <li class="d-flex align-items-center">
                                            <i class="bi bi-clock-fill"></i> Modifié le {{ activite.updatedAt ? activite.updatedAt|date('d-m-Y') : '' }}
                                        </li>
                                    {% endif %}
                                </ul>
                            </div>

                            <div class="entry-content">
                                {{ activite.description|raw }}
                            </div>
                        {% else %}
                            <h2>Cette activité est désactivée.</h2>
                        {% endif %}

                    </article>
                    <!-- End blog entry -->

                    {% if activite.file1 or activite.file2 or activite.file3 %}
                        <div class="blog-author d-flex align-items-center">
                            <div class="row">
                                <div class="col-3 d-flex align-items-center">
                                    <h4>Fichiers à télécharger</h4>
                                </div>
                                <div class="col">
                                    {% if activite.file1 %}
                                        <a class="btn btn-primary text-white m-1" href="../uploads/fichiers/activites/{{ activite.file1 }}">{{ activite.file1 }}</a>
                                    {% endif %}
                                    {% if activite.file2 %}
                                        <a class="btn btn-primary text-white m-1" href="../uploads/fichiers/activites/{{ activite.file2 }}">{{ activite.file2 }}</a>
                                    {% endif %}
                                    {% if activite.file3 %}
                                        <a class="btn btn-primary text-white m-1" href="../uploads/fichiers/activites/{{ activite.file3 }}">{{ activite.file3 }}</a>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    {% endif %}

                </div><!-- End blog entries list -->

                {% block sidebar %}
                    {{ sidebar() }}
                {% endblock %}

            </div>

        </div>
    </section><!-- End Blog Single Section -->
</main>
{% endblock %}