{% extends 'base.html.twig' %}

{% block title %}{{ site_name_full }} : contact{% endblock %}

{% block body %}
<main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section class="breadcrumbs">
        <div class="container">
            <h2>Nous contacter</h2>
        </div>
    </section>
    <!-- End Breadcrumbs -->

    <!-- ======= Blog Section ======= -->
    <section id="blog" class="blog">
        <div class="container" data-aos="fade-up">

            <div class="row">

                <div class="col-lg-8 entries">

                    {% for msg in app.session.flashBag.get('successContact')  %}
                        <div class="alert alert-success alert-dismissible fade show" role="alert">
                            {{ msg }}
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                    {% endfor %}

                    <div class="my-3 p-3 bg-primary rounded text-white text-center fs-3">Nous contacter par mail</div>
            
                    <div class="card px-3 pt-3 pb-2 mb-4">
                        <p>
                            Chers visiteurs,<br>
                            N’hésitez pas à nous contacter via le formulaire ci-dessous.<br>
                            Nous vous répondrons dans les meilleurs délais.
                        </p>
                    </div>

                    {{ form_start(our_form) }}
                            {{ form_row(our_form.prenom) }}

                            {{ form_row(our_form.nom) }}

                            {{ form_row(our_form.email) }}

                            {{ form_row(our_form.message) }}

                            <button type="submit" class="btn btn-primary mr-3 mb-4">Envoyer le message</button>
                            <button type="reset" class="btn btn-secondary mb-4">Annuler</button>

                    {{ form_end(our_form) }}

                </div>
                <!-- End blog entries list -->

                {% block sidebar %}
                    {{ sidebar() }}
                {% endblock %}
                
                </div><!-- End blog sidebar -->
            </div>
        </div>
    </section><!-- End Blog Section -->

</main><!-- End #main -->
{% endblock %}