<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Bienvenue sur le site web du {{ site_name_full }}{% endblock %}</title>
    <meta name="author" content="citizenz">
    <meta name="generator" content="Symfony 5">
    <meta name="robots" content="follow, index, max-snippet:-1, max-video-preview:-1, max-image-preview:large">

    <!-- search engines -->
    <meta name="description" content="Le Centre Social et Culturel Suzanne Coulomb, fort d’un enracinement local de 45 ans, développe et renouvelle sans cesse ses activités et projet s’adressant au plus grand nombre.
    C’est par ses activités et projets qu’il favorise le lien social, socle indispensable à une vie locale riche et épanouissante. Le Centre Social et Culturel “Suzanne Coulomb” fonde son action sur l’engagement citoyen et véhicule des valeurs où prime l’intérêt collectif.">
    <meta name="keywords" content="centre, social, culturel, cosne, loire, nièvre, coulomb, suzanne, enfants, adultes, alsh, accueil, familles, gym, entretien, yoga, caf, cpam, poste, animation, socioculturel, animateur, projet, mairie, association">
    <meta name="image" content="https://www.centresocialcosne.org/img/logo.png">

     <!-- Schema.org for Google -->
     <meta itemprop="name" content="{{ site_name_full }}">
     <meta itemprop="description" content="Site web du {{ site_name_full }}">
     <meta itemprop="image" content="https://www.centresocialcosne.org/img/logo.png">

     <!-- Twitter -->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:title" content="{{ site_name_full }}">
    <meta name="twitter:description" content="Site web du {{ site_name_full }}">
    <meta name="twitter:site" content="{{ site_name_full }}">
    <meta name="twitter:image:src" content="https://www.centresocialcosne.org/img/logo.png">

    <!-- Open Graph general (Facebook, Pinterest & Google+) -->
    <meta name="og:title" content="{{ site_name_full }}">
    <meta name="og:description" content="Site web du {{ site_name_full }}">
    <meta name="og:image" content="https://www.centresocialcosne.org/img/logo.png">
    <meta name="og:url" content="{{ site_url }}">
    <meta name="og:site_name" content="{{ site_name_full }}">
    <meta name="og:locale" content="fr_FR">
    <meta name="fb:app_id" content="152600573523863">
    <meta name="og:type" content="website">

    <!-- Favicons -->
    <link href="{{ asset('img/favicon.png') }}" rel="icon">
    <link href="{{ asset('img/apple-touch-icon.png') }}" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

    <!-- Font awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    {% block stylesheets %}
    <!-- Vendor CSS Files -->
    <link href="{{ asset('vendor/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ asset('vendor/bootstrap-icons/bootstrap-icons.css') }}" rel="stylesheet">
    <link href="{{ asset('vendor/aos/aos.css') }}" rel="stylesheet">
    <link href="{{ asset('vendor/remixicon/remixicon.css') }}" rel="stylesheet">
    <link href="{{ asset('vendor/swiper/swiper-bundle.min.css') }}" rel="stylesheet">
    <link href="{{ asset('vendor/glightbox/css/glightbox.min.css') }}" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="{{ asset('css/style.css') }}" rel="stylesheet">
    {% endblock %}
</head>

<body>

    <!-- ======= Header ======= -->
    <header id="header" class="header fixed-top">
        <div class="container-fluid container-xl d-flex align-items-center justify-content-between">

            <a href="{{ path('home') }}" class="logo d-flex align-items-center">
                <img src="{{ asset('img/logo1.png') }}" class="img-fluid" alt="{{ site_name }}">
            </a>

            <nav id="navbar" class="navbar">
                <ul>
                    <li><a class="nav-link scrollto active" href="{{ path('home') }}#hero">Accueil</a></li>
                    <li><a class="nav-link scrollto" href="{{ path('home') }}#about">A propos</a></li>
                    <li><a class="nav-link scrollto" href="{{ path('home') }}#activites">Activités & services</a></li>
                    <li><a class="nav-link scrollto" href="{{ path('home') }}#recent-blog-posts">Dernières infos</a></li>

                    <li><a class="nav-link scrollto" href="{{ path('home') }}#pages">Centre Social</a></li>
                    
                    <li><a class="nav-link scrollto" href="{{ path('home') }}#contact">Contact</a></li>

                    {% if app.user %}
                        <li class="dropdown">
                            <a class="nav-link scrollto" href="{{ path('user_show', {'id': app.user.id}) }}">
                                <span>{{ app.user.prenom }}</span> <i class="bi bi-chevron-down"></i>
                            </a>
                            <ul>
                                {% if is_granted('ROLE_ADMIN') %}
                                    <li>
                                        <a class="nav-link scrollto" href="{{ path('admin') }}"><span><i class="bi bi-gear" style="font-size: 1.2rem; color: cornflowerblue;"></i> Administration</span></a>
                                    </li>
                                 {% endif %}
                                 <li>
                                    <a class="nav-link scrollto" href="{{ path('user_show', {'id': app.user.id}) }}"><span><i class="bi bi-person-circle" style="font-size: 1.2rem; color: cornflowerblue;"></i> Mon profil</span></a>
                                </li>
                                <li>
                                    <a class="nav-link scrollto" href="{{ path('app_logout') }}"><span><i class="bi bi-box-arrow-right" style="font-size: 1.2rem; color: cornflowerblue;"></i> Déconnexion</span></a>
                                </li>
                            </ul>
                        </li>
                    {% endif %}

                    <li><a class="getstarted" href="{{ path('home') }}#adhesion">S'inscrire</a></li>
                </ul>
                <i class="bi bi-list mobile-nav-toggle"></i>
            </nav><!-- .navbar -->

        </div>
    </header><!-- End Header -->

    {% block body %}{% endblock %}

    <!-- ======= Footer ======= -->
    <footer id="footer" class="footer">

        {#
        <div class="footer-newsletter">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-12 text-center">
                        <h4>Notre lettre d'infos</h4>
                        <p>Pour rester informé : abonnez-vous à la Lettre d'Infos du {{ site_name_full }}</p>
                    </div>
                    <div class="col-lg-6">
                        <form action="" method="post">
                            <input type="email" name="email"><input type="submit" value="S'abonner">
                        </form>
                    </div>
                </div>
            </div>
        </div>
        #}

        <div class="footer-top">
            <div class="container">
                <div class="row gy-4">
                    <div class="col-lg-5 col-md-12 footer-info">
                        <a href="{{ path('home') }}" class="logo d-flex align-items-center">
                            <img src="{{ asset('img/logo1.png') }}" class="img-fluid" alt="{{ site_name }}">
                        </a>
                        <p style="text-align:justify; font-size:0.9rem;">Partout, en France, les centres sociaux sont des structures de proximité qui animent le débat démocratique, 
                            accompagnent des mobilisations et des projets d'habitant.e.s, et construisent de meilleures 
                            conditions de vie, aujourd'hui et pour demain. Voir le site des <a href="http://www.centres-sociaux.fr/">centres sociaux et socioculturels de France</a>.
                        </p>
                        <div class="social-links mt-3">
                            <a href="https://www.facebook.com/Centre-Social-et-Culturel-Suzanne-Coulomb-412193298831383" class="facebook"><i class="bi bi-facebook"></i></a>
                            <a href="https://twitter.com/CSCSCCosne" class="twitter"><i class="bi bi-twitter"></i></a>
                        </div>
                    </div>

                    <div class="col-lg-2 col-6 footer-links">
                        <h4>Liens</h4>
                        <ul>
                            <li><i class="bi bi-chevron-right"></i> <a href="{{ path('home') }}">Accueil</a></li>
                            <li><i class="bi bi-chevron-right"></i> <a href="{{ path('home') }}#about">A propos</a></li>
                            <li><i class="bi bi-chevron-right"></i> <a href="{{ path('home') }}#contact">Contact</a></li>
                            <li><i class="bi bi-chevron-right"></i> <a href="{{ path('home') }}#mentions">Mentions légales</a></li>
                        </ul>
                    </div>

                    <div class="col-lg-2 col-6 footer-links">
                        <h4>Centre Social</h4>
                        <ul>
                            <li><i class="bi bi-chevron-right"></i> <a href="{{ path('activite_index') }}">Toutes les activités</a></li>
                            <li><i class="bi bi-chevron-right"></i> <a href="{{ path('article_index') }}">Tous les articles</a></li>
                            <li><i class="bi bi-chevron-right"></i> <a href="{{ path('page_index') }}">Toutes les pages</a></li>
                            <li><i class="bi bi-chevron-right"></i> <a href="{{ path('categorie_index') }}">Toutes les catégories</a></li>
                        </ul>
                    </div>

                    <div class="col-lg-3 col-md-12 footer-contact text-center text-md-start">
                        <h4>Nous contacter</h4>
                        <div style="font-size:1rem;">
                            15, rue de Berry<br>
                            58200 Cosne-Cours-sur-Loire<br>
                            <strong>Tél. accueil : </strong>03.86.28.20.96<br>
                            <strong>Tél. multi-accueil : </strong>06.67.75.52.91</strong><br>
                            <strong>E-Mail : </strong> info@centresocialcosne.org
                        </div>

                    </div>

                </div>
            </div>
        </div>

        <div class="container">
            <div class="copyright">
                &copy; Copyright 2021 <strong><span>{{ site_name_full }}</span></strong>. Tous droits réservés.
            </div>
            <div class="credits">
                <!-- All the links in the footer should remain intact. -->
                <!-- You can delete the links only if you purchased the pro version. -->
                <!-- Licensing information: https://bootstrapmade.com/license/ -->
                <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/flexstart-bootstrap-startup-template/ -->
                Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a> | 
                {% if app.user %}
                    <a href="{{ path('app_logout') }}"><i class="bi bi-unlock-fill"></i> Déconnexion</a>
                {% else %}
                    <a href="{{ path('app_login') }}"><i class="bi bi-lock-fill"></i> Connexion</a>
                {% endif %}
            </div>
        </div>
    </footer><!-- End Footer -->

    <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
            class="bi bi-arrow-up-short"></i></a>

    {% block javascripts %}
    <!-- Vendor JS Files -->
    <script src="{{ asset('vendor/bootstrap/js/bootstrap.bundle.js') }}"></script>
    <script src="{{ asset('vendor/aos/aos.js') }}"></script>
    <script src="{{ asset('vendor/php-email-form/validate.js') }}"></script>
    <script src="{{ asset('vendor/swiper/swiper-bundle.min.js') }}"></script>
    <script src="{{ asset('vendor/purecounter/purecounter.js') }}"></script>
    <script src="{{ asset('vendor/isotope-layout/isotope.pkgd.min.js') }}"></script>
    <script src="{{ asset('vendor/glightbox/js/glightbox.min.js') }}"></script>

    <!-- Template Main JS File -->
    <script src="{{ asset('js/main.js') }}"></script>
    {% endblock %}
</body>

</html>

