{% extends 'base.html.twig' %}

{% block title %}{{ site_name_full }} : liste des abonnés à la lettre d'infos{% endblock %}

{% block body %}
<main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section class="breadcrumbs">
        <div class="container">
            <h2>Administration du site</h2>
        </div>
    </section>
    <!-- End Breadcrumbs -->

    <section class="inner-page">
        <div class="container">
            <h2 class="text-center fw-bold card py-2 mb-4">Liste des abonnés à la Lettre d'infos</h2>
            <div class="row d-flex justify-content-center">
                <div class="col">

                    <table class="table">
                        <thead>
                            <tr>
                                <th>Id</th>
                                <th>E-mail</th>
                                <th>Abonné le</th>
                                <th width="12%"></th>
                                <th width="8%"></th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for newsletter_user in newsletter_users %}
                            <tr>
                                <td>{{ newsletter_user.id }}</td>
                                <td>{{ newsletter_user.email }}</td>
                                <td>{{ newsletter_user.createdAt ? newsletter_user.createdAt|date('d-m-Y H:i:s') : '' }}
                                </td>
                                <td>
                                    <a class="btn btn-sm btn-primary" href="{{ path('newsletter_user_show', {'id': newsletter_user.id}) }}">Voir</a>
                                    <a class="btn btn-sm btn-warning" href="{{ path('newsletter_user_edit', {'id': newsletter_user.id}) }}">Modifier</a>
                                </td>
                                <td>
                                    {{ include('newsletter_user/_delete_form.html.twig') }}
                                </td>
                            </tr>
                            {% else %}
                            <tr>
                                <td colspan="4">Il n'y a aucun enregistrement.</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>

                    <div class="row">
                        <div class="col">
                            <a href="{{ path('newsletter_user_new') }}" class="btn btn-success mt-3">Inscription d'un nouvel abonné</a>
                        </div>
                        <div class="col d-flex justify-content-end align-items-center mt-3">
                            <a class="btn btn-primary" href="{{ path('newsletter_index') }}">Liste des lettres d'infos</a>
                        </div>
                    </div>

                </div>
            </div>
            <div class="pagination justify-content-center px-2 mt-4">
                {{ knp_pagination_render(newsletter_users) }}
            </div>
        </div>
    </section>
</main>
{% endblock %}