{% extends 'base.html.twig' %}

{% block title %}{{ site_name_full }} : liste des catégories{% endblock %}

{% block body %}
<main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section class="breadcrumbs">
        <div class="container">
            <h2>Liste des catégories</h2>
        </div>
    </section>
    <!-- End Breadcrumbs -->

    <!-- ======= Blog Section ======= -->
    <section id="blog" class="blog">
        <div class="container" data-aos="fade-up">

            <div class="row">

                <div class="col-lg-8 entries">

                    {% for categorie in categories %}
                        <article class="entry">

                            <div class="entry-img text-center">
                                <img src="../uploads/images/categories/{{ categorie.image }}" alt="{{ categorie.titre }}"
                                    class="img-fluid">
                            </div>

                            <h2 class="entry-title">
                                <a href="{{ path('categorie_show', {'slug': categorie.slug}) }}">{{ categorie.titre }}</a>
                            </h2>

                            <div class="entry-content">
                                <p>
                                    {{ categorie.description|raw }}
                                </p>
                                <div class="read-more">
                                    <a href="{{ path('categorie_show', {'slug': categorie.slug}) }}">Voir la categorie</a>
                                </div>
                            </div>

                        </article><!-- End blog entry -->

                    {% endfor %}

                    <div class="pagination justify-content-center px-2 mt-4">
                        {{ knp_pagination_render(categories) }}
                    </div>

                </div>
                <!-- End blog entries list -->

                {% block sidebar %}
                    {{ sidebar() }}
                {% endblock %}

            </div><!-- End blog sidebar -->
        </div>
        </div>
    </section><!-- End Blog Section -->

</main><!-- End #main -->
{% endblock %}