{% extends 'base.html.twig' %}

{% block title %}{{ site_name_full }} : blog - liste des articles{% endblock %}

{% block body %}
<main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section class="breadcrumbs">
        <div class="container">
            <h2>Liste des articles - Blog</h2>
        </div>
    </section>
    <!-- End Breadcrumbs -->

    <!-- ======= Blog Section ======= -->
    <section id="blog" class="blog">
        <div class="container" data-aos="fade-up">

            <div class="row">

                <div class="col-lg-8 entries">

                    {% for article in articles %}
                        <!-- si l'article est actif, on affiche -->
                        {% if article.isActive %}
                            <article class="entry">

                                <div class="entry-img">
                                    <img src="../uploads/images/articles/{{ article.image }}" alt="{{ article.titre }}" class="img-fluid">
                                </div>

                                <div class="mb-3">
                                    {% for cat in article.categorie %}
                                    <a class="h4" href="{{ path('categorie_show', {'slug': cat.slug}) }}">
                                        <span class="badge bg-primary">{{ cat.titre }}</span>
                                    </a>
                                    {% endfor %}
                                </div>
                                
                                <h2 class="entry-title">
                                    <a href="{{ path('article_show', {'slug': article.slug}) }}">{{ article.titre }}</a>
                                </h2>

                                <div class="entry-meta">
                                    <ul>
                                        <li class="d-flex align-items-center">
                                            <i class="bi bi-person"></i> {{ article.auteur.prenom }} {{ article.auteur.nom }}
                                        </li>
                                        <li class="d-flex align-items-center">
                                            <i class="bi bi-clock"></i> {{ article.createdAt ? article.createdAt|date('d-m-Y') : '' }}
                                        </li>
                                        {% if article.updatedAt %}
                                            <li class="d-flex align-items-center">
                                                <i class="bi bi-clock-fill"></i> {{ article.updatedAt ? article.updatedAt|date('d-m-Y') : '' }}
                                            </li>
                                        {% endif %}
                                        <li class="d-flex align-items-center">
                                            <i class="bi bi-eye"></i> {{ article.views }}
                                        </li>
                                    </ul>
                                </div>

                                <div class="entry-content">
                                    <p>
                                        {{ article.contenu|raw }}
                                    </p>
                                    <div class="read-more">
                                        <a href="{{ path('article_show', {'slug': article.slug}) }}">Lire l'article</a>
                                    </div>
                                </div>

                            </article><!-- End blog entry -->
                        {% endif %}
                    {% endfor %}

                    <div class="pagination justify-content-center px-2 mt-4">
                        {{ knp_pagination_render(articles) }}
                    </div>

                </div>
                <!-- End blog entries list -->

                {% block sidebar %}
                    {{ sidebar() }}
                {% endblock %}
                
                </div><!-- End blog sidebar -->
            </div>
        </div>
    </section><!-- End Blog Section -->

</main><!-- End #main -->
{% endblock %}