{% extends 'base.html.twig' %}

{% block title %}{{ site_name_full }} : {{ article.titre }}{% endblock %}

{% block body %}
<main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section class="breadcrumbs">
        <div class="container">
            <h2>Les articles - Blog</h2>
        </div>
    </section>
    <!-- End Breadcrumbs -->

    <!-- ======= Blog Single Section ======= -->
    <section id="blog" class="blog">
        <div class="container" data-aos="fade-up">

            <div class="row">

                <div class="col-lg-8 entries">

                    <article class="entry entry-single">

                        {% if article.isActive %}

                            <div class="entry-img">
                                <img src="../uploads/images/articles/{{ article.image }}" alt="{{ article.titre }}"
                                    class="img-fluid">
                            </div>

                            <div class="mb-3">
                                {% for cat in article.categorie %}
                                <a class="h4" href="{{ path('categorie_show', {'slug': cat.slug}) }}">
                                    <span class="badge bg-primary">{{ cat.titre }}</span>
                                </a>
                                {% endfor %}
                            </div>

                            <h2 class="entry-title">{{ article.titre }}</h2>

                            <div class="entry-meta">
                                <ul>
                                    <li class="d-flex align-items-center" title="Posté le">
                                        <i class="bi bi-clock"></i>
                                        {{ article.createdAt ? article.createdAt|date('d-m-Y') : '' }}
                                    </li>
                                    {% if article.updatedAt %}
                                    <li class="d-flex align-items-center" title="Mis à jour le">
                                        <i class="bi bi-clock-fill"></i>
                                        {{ article.updatedAt ? article.updatedAt|date('d-m-Y') : '' }}
                                    </li>
                                    {% endif %}
                                    <li class="d-flex align-items-center" title="Nombre de lectures">
                                        <i class="bi bi-eye"></i> {{ article.views }}
                                    </li>
                                </ul>
                            </div>

                            <div class="entry-content">
                                {{ article.contenu|raw }}
                            </div>
                        {% else %}
                            <h2>Cet article est désactivé.</h2>
                        {% endif %}

                    </article>
                    <!-- End blog entry -->

                    {% if article.file1 or article.file2 or article.file3 %}
                        <div class="blog-author d-flex align-items-center">
                            <div class="row">
                                <div class="col-3 d-flex align-items-center">
                                    <h4>Fichiers à télécharger</h4>
                                </div>
                                <div class="col">
                                    {% if article.file1 %}
                                        <a class="btn btn-primary text-white m-1" href="../uploads/fichiers/articles/{{ article.file1 }}">{{ article.file1 }}</a>
                                    {% endif %}
                                    {% if article.file2 %}
                                        <a class="btn btn-primary text-white m-1" href="../uploads/fichiers/articles/{{ article.file2 }}">{{ article.file2 }}</a>
                                    {% endif %}
                                    {% if article.file3 %}
                                        <a class="btn btn-primary text-white m-1" href="../uploads/fichiers/articles/{{ article.file3 }}">{{ article.file3 }}</a>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    {% endif %}

                    <div class="blog-author d-flex align-items-center">
                        <img src="../uploads/images/users/{{ article.auteur.image }}" class="rounded-circle float-left"
                            alt="">
                        <div>
                            <h4>Posté par {{ article.auteur.prenom }} {{ article.auteur.nom }},</h4>
                            <h6>{{ article.auteur.fonction }}</h6>

                            {% if article.auteur.facebook or article.auteur.twitter or article.auteur.instagram %}
                            <div class="social-links">
                                {% if article.auteur.facebook %}
                                <a href="{{ article.auteur.facebook }}"><i class="bi bi-facebook"></i></a>
                                {% endif %}
                                {% if article.auteur.twitter %}
                                <a href="{{ article.auteur.twitter }}"><i class="bi bi-twitter"></i></a>
                                {% endif %}
                                {% if article.auteur.instagram %}
                                <a href="{{ article.auteur.instagram }}"><i class="biu bi-instagram"></i></a>
                                {% endif %}
                            </div>
                            {% endif %}

                            <p>
                                {{ article.auteur.presentation|raw }}
                            </p>
                        </div>
                    </div><!-- End blog author bio -->

                </div><!-- End blog entries list -->

                {% block sidebar %}
                    {{ sidebar() }}
                {% endblock %}

            </div><!-- End blog sidebar -->
        </div>
    </section><!-- End Blog Single Section -->

</main>
{% endblock %}