{% extends 'base.html.twig' %}

{% block title %}{{ site_name_full }} : profil {{ app.user.prenom }} {{ app.user.nom }}{% endblock %}

{% block body %}
<main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section class="breadcrumbs">
        <div class="container">
            <h2>Administration du site</h2>
        </div>
    </section>
    <!-- End Breadcrumbs -->

    <section class="inner-page">
        <div class="container">
            <div class="row d-flex justify-content-center">
                <div class="col">
                    <h2>Modification de votre profil</h2>

                    {{ include('user/_form.html.twig') }}
                    <p>
                        {{ include('user/_delete_form.html.twig') }}
                    </p>
                </div>
            </div>
        </div>
    </section>
</main>
{% endblock %}