{% extends 'base.html.twig' %}

{% block title %}{{ site_name_full }} : liste des utilisateurs{% endblock %}

{% block body %}
<main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section class="breadcrumbs">
        <div class="container">
            <h2>Administration du site</h2>
        </div>
    </section>
    <!-- End Breadcrumbs -->

    <section class="inner-page">
        <div class="container">
            <div class="row d-flex justify-content-center">
                <div class="col">
                    <div class="row pb-3">
                        <div class="col">
                            <h2>Liste des utilisateurs</h2>
                        </div>
                        <div class="col d-flex justify-content-end">
                            <a class="btn btn-success fw-bold pt-2" href="{{ path('user_new') }}">Créer un utilisateur</a>
                        </div>
                    </div>
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Id</th>
                                <th>Email</th>
                                <th>Rôle</th>
                                <th>Prenom</th>
                                <th>Nom</th>
                                <th>Image</th>
                                <th>Présentation</th>
                                <th>Vérifié</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for user in users %}
                            <tr>
                                <td>{{ user.id }}</td>
                                <td>{{ user.email }}</td>
                                {#<td>{{ user.roles ? user.roles|json_encode : '' }}</td>#}
                                <td>
                                    {% if user.roles|json_encode == '["ROLE_USER"]' %}
                                        <span class="text-primary fw-bold">Utilisateur</span>
                                    {% else %}
                                        <span class="text-danger fw-bold">Admin</span>
                                    {% endif %}
                                </td>
                                <td>{{ user.prenom }}</td>
                                <td>{{ user.nom }}</td>
                                <td>{{ user.image ? 'Oui' : 'Non' }}</td>
                                <td>{{ user.presentation ? 'Oui' : 'Non' }}</td>
                                <td>{{ user.isVerified ? 'Oui' : 'Non' }}</td>
                                <td>
                                    <table>
                                        <tr>
                                            <td>
                                                <a class="btn btn-sm btn-info" href="{{ path('user_show', {'id': user.id}) }}">Voir</a>
                                            </td>
                                            <td>
                                                <a class="btn btn-sm btn-warning" href="{{ path('user_edit', {'id': user.id}) }}">Modifier</a>
                                            </td>
                                            <td>
                                                {{ include('user/_delete_form.html.twig') }}
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                            {% else %}
                            <tr>
                                <td colspan="8">Il n'y a aucun enregistrement.</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="pagination justify-content-center px-2 mt-4">
                    {{ knp_pagination_render(users) }}
                </div>
            </div>
        </div>
    </section>
</main>
{% endblock %}